{%- macro info(Bird_Original_Name,Bird_Original_Name_Telugu,Conservation_status_code,Page_Id,image,Order_Telugu,Genus_Telugu,Species_Telugu,Scientist_Telugu,Synonymous_Name_Telugu) -%}

{{'{{taxobox'}}
| name= {{Bird_Original_Name_Telugu}}
{%- if Conservation_status_code!= 'NaN' %}
| status = {{Conservation_status_code}}
{%- endif %}
| status_system = IUCN3.1
{%- if Page_Id!= 'NaN' %}
| status_ref=<ref name="iucn status 18 November 2021">{{'{{'}}cite iucn |author=BirdLife International |date=2016 |title=''{{Bird_Original_Name}}'' |volume=2016 |page=e.{{Page_Id}} |doi=10.2305/IUCN.UK.2016-3.RLTS.{{Page_Id}}.en |access-date=18 November 2021{{'}}'}}</ref>
{%- endif %}
{%- if image!= 'NaN' %}
| image = {{image}}
{%- endif %}
| regnum= జంతువులు
| subregnum = బిలేటేరియా
| infraregnum = డ్యూటెరోస్టోమియా
| phylum= కార్డేటా
| subphylum  = సకశేరుకాలు
| infraphylum = గ్నాథోస్టోమాటా
| superclassis = టెట్రాపోడా
| classis = పక్షులు
{%- if Order_Telugu!= 'NaN' %}
| ordo={{Order_Telugu}}
{%- endif %}
{%- if Family_Telugu!= 'NaN' %}
| familia={{Family_Telugu}}
{%- endif %}
{%- if Genus_Telugu!= 'NaN' %}
| genus =''{{Genus_Telugu}}''
{%- endif %}
{%- if Species_Telugu!= 'NaN' %}
| species = '''''{{Species_Telugu}}'''''
{%- endif %}
{%- if Scientific_Name_Telugu != 'NaN' %}
| binomial = {{Scientific_Name_Telugu}}
{%- endif %}
{%- if Scientist_Telugu!= 'NaN' and founded != 'NaN' %}
| authority = ([[{{Scientist_Telugu}}]], {{founded}})
{%- endif %}
{%- if Synonymous_Name != 'NaN' %}
| synonyms = {% for synonym_name in Synonymous_Name_Telugu.split(',') %} {{'\n'}}* ''{{synonym_name}}''{% endfor %}
{%- endif %}
{{'}}'}}
{%- endmacro -%}
{%- macro intro(Bird_Original_Name_Telugu, Bird_Original_Name, Scientific_Name_Telugu, Scientific_Name, Synonymous_Name, Synonymous_Name_Telugu,Old_latin_name_for_bird_Telugu,Old_latin_name_for_bird, Conservation_status_Telugu, Family_Telugu,Kingdom_Telugu, Subkingdom_Telugu, Infrakingdom_Telugu, Phylum_Telugu, Subphylum_Telugu, Infraphylum_Telugu, Superclass_Telugu, Class_Telugu, Order_Telugu,IUCN_link) -%}
	{%- if IUCN_link != 'NaN' %}
        {%- set iucn_link_line="<ref>{{Cite web|url="+IUCN_link+" | title="+Scientific_Name+"("+Bird_Original_Name+")|website=www.iucnredlist.org|access-date=2022-04-05}}</ref> " -%}
    {%- endif %}
    {%- set scientific_line=[
        " '''''"+Scientific_Name_Telugu +"''''' (''"+ Scientific_Name+"'' ) "+ " దీని శాస్త్రీయ నామం. ",
        " దీని శాస్త్రీయ నామం '''''"+Scientific_Name_Telugu+"''''' (''"+Scientific_Name+"''). ",
        ] | random
	-%}
    {%- if Old_latin_name_for_bird_Telugu != 'NaN' %}
        {%- set latin_line=[
            "పక్షికి లాటిన్ పేరు(పాత) " + Old_latin_name_for_bird_Telugu + ". ",
            "పూర్వం లాటిన్ భాషలో " + Old_latin_name_for_bird_Telugu + " అని పిలవబడేది. ",
            "లాటిన్ లో "  + Old_latin_name_for_bird_Telugu + " గా పిలవబడేది. ",
            "లాటిన్ లో "  + Old_latin_name_for_bird_Telugu + " గా సుపరిచితం. "
            ] | random
        -%}
    {%- endif %}
    {%- if Conservation_status_Telugu != 'NaN' and IUCN_link != 'NaN' %}
        {%- set iucn_line=[
            "ఇంటర్నేషనల్ యూనియన్ ఫర్ కన్సర్వేషన్ ఆఫ్ నేచర్ (IUCN) ఈ జాతులను "+Conservation_status_Telugu+ "గా వర్గీకరించింది."+iucn_link_line+" ",
            "ఈ పక్షి జాతులను "+Conservation_status_Telugu+ "గా ఇంటర్నేషనల్ యూనియన్ ఫర్ కన్సర్వేషన్ ఆఫ్ నేచర్ (IUCN) గుర్తించింది."+iucn_link_line+" "
        ] | random
        -%}
    {%- elif Conservation_status_Telugu != 'NaN' and IUCN_link == 'NaN' %}
        {%- set iucn_line=[
            "ఇంటర్నేషనల్ యూనియన్ ఫర్ కన్సర్వేషన్ ఆఫ్ నేచర్ (IUCN) ఈ జాతులను "+Conservation_status_Telugu+ "గా వర్గీకరించింది. ",
            "ఈ పక్షి జాతులను "+Conservation_status_Telugu+ "గా ఇంటర్నేషనల్ యూనియన్ ఫర్ కన్సర్వేషన్ ఆఫ్ నేచర్ (IUCN) గుర్తించింది. "
        ] | random
        -%}
    {%- else %}
        {%- set iucn_line = "" -%}
    {%- endif %}
	{%- if Family_Telugu != 'NaN' %}
        {%- set fam_line=[
            Family_Telugu+" కుటుంబంలోని పక్షి. " ,
            "ఇది "+ Family_Telugu +" కుటుంబానికి చెందిన పక్షి. "
        ] | random
        -%}
    {%- endif %}
    {%- set common_line=[
        "ఈ పక్షి వర్గం కార్డేటా. ఇవి సకశేరుకాలు ఉపవర్గం కిందకి వస్తాయి. దీని నిమ్నవర్గం (సూపర్ ప్యైలమ్) గ్నాథోస్టోమాటా. ఈ పక్షులు టెట్రాపోడా అధితరగతి (సూపర్ క్లాస్) కి చెందినవి. ",
        "ఈ పక్షి వర్గం కార్డేటా, ఉపవర్గం సకశేరుకాలు, నిమ్నవర్గం (సూపర్ ప్యైలమ్) గ్నాథోస్టోమాటా. ఇవి టెట్రాపోడా అధితరగతి (సూపర్ క్లాస్) కి చెందినవి. "
        ] | random
    -%}
    {%- if Order_Telugu != 'NaN' %}
        {%- set ord_line=[
        "ఈ పక్షి క్రమం "+Order_Telugu +". ",
        Bird_Original_Name_Telugu +" "+ Order_Telugu +" క్రమానికి చెందినవి. "
        ] | random
        -%}
    {%- endif %}
    {%- if locomotion_Telugu != 'NaN' %}
        {%- set loc_line=[
            Bird_Original_Name_Telugu+"లు "+locomotion_Telugu+" ద్వారా ముందుకు పయనిస్తాయి. ",
            locomotion_Telugu+" ద్వారా "+ Bird_Original_Name_Telugu+"లు ముందుకు పయనిస్తాయి. "
        ] | random
        -%}
    {%- endif %}
    {%- if Population_Growth_Telugu != 'NaN' and Population_Growth_Telugu == 'స్థిరమైన' %}
        {%- set pg_line = "ఈ జాతుల జనాభా పెరుగుదల స్థిరంగా ఉంది. " %}
    {%- elif Population_Growth_Telugu != 'NaN' and Population_Growth_Telugu != 'స్థిరమైన' %}
        {%- set pg_line = "ఈ జాతుల జనాభా పెరుగుదల స్థిరంగా "+Population_Growth_Telugu+". " %}
    {%- endif %}
{{"'''"}}{{Bird_Original_Name_Telugu}}{{"''' "}}({{ Bird_Original_Name}}) {{scientific_line}} {{fam_line}}{{latin_line}}{%- if Synonymous_Name_Telugu != 'NaN' %}దీనిని{% for synonym_name,synonym_name_tel in zip(Synonymous_Name_Telugu.split(','),Synonymous_Name.split(',')) %} {{synonym_name}} ( {{synonym_name_tel}} ) {% endfor %} అని కూడా అంటారు. {%- endif %}{{common_line}}{{ord_line}}{{iucn_line}}{{loc_line}}{{'\n'}}
{%- endmacro -%}
{%- macro gurthimpu(Bird_Original_Name_Telugu,Scientist_Telugu,founded) -%}
    {%- if Scientist_Telugu != 'NaN' and founded != 'NaN' %}
        {%- if ',' in Scientist_Telugu or '&' in Scientist_Telugu %}
        {%- set find_line=[
            Bird_Original_Name_Telugu + " అన్న పేరుతో ప్రకృతి శాస్త్రవేత్తలు '''"+ Scientist_Telugu +"''' "+ founded +"లో మొట్టమొదటిసారిగా ఈ పక్షిని కనుగొన్నారు.",
            "ఈ పక్షిని ప్రకృతి శాస్త్రవేత్తలు '''"+Scientist_Telugu +"''' " + founded +" లో కనుగొన్నారు. ",
            founded +" లో ఈ పక్షిని ప్రకృతి శాస్త్రవేత్తలు '''"+Scientist_Telugu +"''' కనుగొన్నారు. ",
            founded +" లో ఈ పక్షిని '''"+Scientist_Telugu +"''' ప్రకృతి శాస్త్రవేత్తలు గుర్తించారు. ",
            "ఈ పక్షి " + founded +" లో ప్రకృతి శాస్త్రవేత్తలు '''"+Scientist_Telugu +"''' కనుగొన్నారు. ",
            "ఈ పక్షి " + founded +" లో '''"+Scientist_Telugu +"''' లు కనుగొన్నారు. ",
        ] | random
        -%}
        {%- else %}
        {%- set find_line=[
            Bird_Original_Name_Telugu + " అన్న పేరుతో ప్రకృతి శాస్త్రవేత్త '''"+ Scientist_Telugu +"''' "+ founded +"లో మొట్టమొదటిసారిగా ఈ పక్షిని కనుగొన్నారు.",
            "ఈ పక్షిని ప్రకృతి శాస్త్రవేత్త '''"+Scientist_Telugu +"''' " + founded +" లో కనుగొన్నారు. ",
            founded +" లో ఈ పక్షిని ప్రకృతి శాస్త్రవేత్త '''"+Scientist_Telugu +"''' కనుగొన్నారు. ",
            founded +" లో ఈ పక్షిని '''"+Scientist_Telugu +"''' ప్రకృతి శాస్త్రవేత్త గుర్తించారు. ",
            "ఈ పక్షి " + founded +" లో ప్రకృతి శాస్త్రవేత్త '''"+Scientist_Telugu +"''' కనుగొన్నారు. ",
            "ఈ పక్షి " + founded +" లో '''"+Scientist_Telugu +"''' కనుగొన్నారు. ",
        ] | random
        -%}
        {%- endif %}
{{'\n'}}==గుర్తింపు=={{'\n'}}{{find_line}}{{'\n'}}
    {%- endif %}
{%- endmacro -%}
{%- macro laksh(Bird_Original_Name_Telugu,auditory_system_Telugu,hearing_range_Telugu,hearing_threshold_Telugu,Eol_Link,Ebird_Description_Telugu,body_mass_Telugu,mineralized_skeleton_contains_Telugu) -%}
    {%- if Eol_Link != 'NaN' %}
        {%- set eol_line="<ref>{{Cite web|url="+Eol_Link+"|title="+Bird_Original_Name+" - Encyclopedia Of Life |website=eol.org |language=en |access-date=2022-04-05}}</ref>" -%}
    {% else -%}
        {%- set eol_line="" -%}
    {%- endif %}
    {%- if body_mass_Telugu != 'NaN' %}
        {%- set mass_line=[
            "ఈ జాతి పక్షులు సుమారు "+body_mass_Telugu+" బరువు ఉంటాయి. ",
            Bird_Original_Name_Telugu+ " " +body_mass_Telugu+" బరువు ఉంటాయి. "
            ] | random
            -%}
    {%- endif %}
    {%- if mineralized_skeleton_contains_Telugu != 'NaN' %}
        {%- if mineralized_skeleton_contains_Telugu == 'అపటైట్' %}
            {%- set skeleton_line = "ఈ జాతి పక్షులకు ఖనిజ అస్థిపంజరం కాల్షియం ఫ్లోరైడ్ ఫాస్ఫేట్(Ca<sub>2</sub>FO<sub>4</sub>P) లేదా కాల్షియం క్లోరైడ్ ఫాస్ఫేట్(Ca<sub>3</sub>(PO<sub>4</sub>)<sub>2</sub>) లతో  కలిగి ఉంటుంది. " %}
        {%- else %}
            {%- set skeleton_line = "ఈ జాతి పక్షులకు ఖనిజ అస్థిపంజరం కాల్షియం కార్బోనేట్(CaCO<sub>3</sub>) ఖనిజాలతో కలిగి ఉంటుంది. " %}
        {%- endif %}
    {%- endif %}
    {%- if auditory_system_Telugu != 'NaN' and auditory_system_Telugu != 'ఓటోలిత్స్' %}
        {%- if hearing_range_Telugu != 'NaN' %}
            {%- set audi_line=[
            "టిమ్పానిక్ (మధ్య చెవి) ద్వారా " + hearing_range_Telugu + " వరకు ఈ పక్షులు వినగలవు."+ eol_line +" " ,
            "వీటి వినికిడి టిమ్పానిక్ (మధ్య చెవి) ద్వారా సాధ్యం, " + hearing_range_Telugu + " వరకు వినగలవు."+ eol_line +" "] | random
            -%}
        {% else -%}
            {%- set audi_line=[
            "టిమ్పానిక్ (మధ్య చెవి) ద్వారా వినగలవు."+ eol_line +" " ,
            "వీటి వినికిడి టిమ్పానిక్ (మధ్య చెవి) ద్వారా సాధ్యం."+ eol_line +" "] | random
            -%}
        {%- endif %}
    {% elif auditory_system_Telugu != 'NaN' and auditory_system_Telugu == 'ఓటోలిత్స్' -%}
        {%- if hearing_range_Telugu != 'NaN' %}
            {%- set audi_line=[
            "చేపలలో లాగా "+ auditory_system_Telugu +" నిర్మాణాలు కలిగి భూమి ఆకర్షణ శక్తికి వినియోగించుకొని, శరీర కదలికలు గమనమార్గాన్ని చూపుతాయి, వీటి ద్వారా కేవలం " + hearing_range_Telugu + " వరకు మాత్రమే వినగలవు."+ eol_line +" ",
            "చేపలలో లాగా "+ auditory_system_Telugu +" నిర్మాణాలు కలిగి శరీర కదలికలు, భూమి ఆకర్షణ శక్తిని వినియోగించుకొని వాటి గమనమార్గాన్ని నిర్దేశించుకుంటాయి ,వీటి ద్వారా కేవలం " + hearing_range_Telugu + " వరకు మాత్రమే వినగలవు."+ eol_line +" "
                ] | random
            -%}
        {% else -%}
            {%- set audi_line=[
            "చేపలలో లాగా "+ auditory_system_Telugu +" నిర్మాణాలు కలిగి భూమి ఆకర్షణ శక్తిని వినియోగించుకొని, శరీర కదలికలు గమనమార్గాన్ని నిర్దేశిస్తాయి."+ eol_line +" ",
            "చేపలలో లాగా "+ auditory_system_Telugu +" నిర్మాణాలు కలిగి శరీర కదలికలు, భూమి ఆకర్షణ శక్తిని వినియోగించుకొని వాటి గమనమార్గాన్ని నిర్దేశించుకుంటాయి."+ eol_line +" "
                ] | random
            -%}
        {%- endif %}
    {%- endif %}
    {%- if hearing_threshold_Telugu != 'NaN' %}
    {%- set thersh_line = [ 
        "వీటికి "+hearing_threshold_Telugu+" నుండి శబ్దాలను గ్రహించే సామర్ధ్యం ఉంది. ",
        Bird_Original_Name_Telugu + " "+hearing_threshold_Telugu+" నుండి శబ్దాలను గ్రహించగలవు. "
        ] | random
        -%}
    {%- endif %}
{%- if auditory_system_Telugu != 'NaN' or hearing_threshold_Telugu != 'NaN' %}
{{'\n'}}==లక్షణాలు=={{'\n'}}{{mass_line}}{{skeleton_line}}{{Ebird_Description_Telugu}}{{audi_line}}{{thersh_line}}{{'\n'}}
{%- endif %}
{%- endmacro -%}
{%- macro jv(Bird_Original_Name_Telugu,Habitat_Telugu,Breeding_region_Telugu,Breeding_subregion_Telugu,Life_Span_Telugu,altitude_Telugu,Dibird_Link,Country_Telugu,Ebird_Link) -%}
    {%- if Ebird_Link != 'NaN' %}
        {%- set ebird_line="<ref>{{Cite web|url="+ Ebird_Link +" |title=" +Bird_Original_Name+ " - eBird|website=ebird.com|language=en|access-date=2022-04-05}}</ref>" -%}
    {% else -%}
        {%- set ebird_line="" -%}
    {%- endif %}
    {%- if Dibird_Link != 'NaN' %}
        {%- set dibird_line="<ref>{{Cite web|url="+Dibird_Link+" |title="+Bird_Original_Name+" bird photo call and song/ "+ Scientific_Name +" |website=dibird.com|language=en|access-date=2022-04-05}}</ref>" -%}
    {% else -%}
        {%- set dibird_line="" -%}
    {%- endif %}
    {%- if Country_Telugu != 'NaN' and ',' in Country_Telugu %}
        {%- set country_line=[
            "ఇవి "+Country_Telugu +" దేశాలలో ఎక్కువగా కనిపిస్తాయి."+ebird_line+" ",
            Bird_Original_Name_Telugu+ " " +Country_Telugu+" దేశాలకు చెందినవి."+ebird_line+" "] | random
        -%}
    {%- elif Country_Telugu != 'NaN' and ',' not in Country_Telugu %}
        {%- set country_line=[
            "ఇవి "+Country_Telugu +" దేశంలో ఎక్కువగా కనిపిస్తాయి."+ebird_line+" ",
            Bird_Original_Name_Telugu+ " " +Country_Telugu+" దేశానికి చెందినవి."+ebird_line+" "] | random
        -%}
    {%- endif %}
    {%- if Habitat_Telugu != 'NaN' and ',' in Habitat_Telugu %}
        {%- set realm_line=[
            "ఇవి ఎక్కువగా "+Habitat_Telugu+" లలో నివసిస్తాయి. ",
            "వీటి నివాస స్థలాలు " + Habitat_Telugu + ". "] | random
        -%}
    {%- elif Habitat_Telugu != 'NaN' and not ',' in Habitat_Telugu %}
        {%- set realm_line=[
            "ఇవి ఎక్కువగా "+Habitat_Telugu+" లో నివసిస్తాయి. ",
            "వీటి నివాస స్థలం " + Habitat_Telugu + ". "] | random
        -%}
    {%- endif %}
    {%- if Breeding_region_Telugu != 'NaN' and ',' in Breeding_region_Telugu %}
        {%- set region_line=[
            "వీటి సంతానోత్పత్తి ప్రాంతాలు "+Breeding_region_Telugu+ "." + dibird_line + " ",
            "సంతానోత్పత్తికి అనువైన ప్రదేశాలు " + Breeding_region_Telugu + "." + dibird_line + " ",
            "ఈ జాతి పక్షులు "+Breeding_region_Telugu+"లలో సంతానోత్పత్తి చేస్తాయి."+ dibird_line +" " ] | random
        -%}
    {%- elif Breeding_region_Telugu != 'NaN' and ',' not in Breeding_region_Telugu %}
        {%- set region_line=[
            "వీటి సంతానోత్పత్తి ప్రాంతం "+Breeding_region_Telugu+ "." + dibird_line + " ",
            "సంతానోత్పత్తికి అనువైన ప్రదేశం " + Breeding_region_Telugu + "." + dibird_line + " ",
            "ఈ జాతి పక్షులు "+Breeding_region_Telugu+"లో సంతానోత్పత్తి చేస్తాయి."+ dibird_line +" " ] | random
        -%}
    {%- endif %}
    {%- if Breeding_subregion_Telugu != 'NaN' and ',' in Breeding_subregion_Telugu %}
        {%- set subreg_line="వీటి సంతానోత్పత్తి ఉపప్రాంతాలు "+Breeding_subregion_Telugu+ ". " -%}
    {%- elif Breeding_subregion_Telugu != 'NaN' and ',' not in Breeding_subregion_Telugu %}
        {%- set subreg_line="వీటి సంతానోత్పత్తి ఉపప్రాంతం "+Breeding_subregion_Telugu+ ". " -%}
    {%- endif %}
    {%- if Life_Span_Telugu != 'NaN' %}
        {%- set lspan_line=[
            Bird_Original_Name_Telugu+" జీవితకాలం సాధారణంగా "+ Life_Span_Telugu +"గా తెలుపబడినది. ",
            "వీటి జీవితకాలం "+ Life_Span_Telugu+". " ] | random
        -%}
    {%- endif %}
    {%- if altitude_Telugu != 'NaN' %}
        {%- set alt_line=[
            "ఇవి భౌగోళికంగా "+altitude_Telugu+" ఎత్తులొ గల ప్రాంతాలవరకు జీవించగలవు. ",
            Bird_Original_Name_Telugu+ " "+altitude_Telugu +" ఎత్తు వరకు శ్వాసను పొందగలవు. " 
        ] | random
        -%}
    {%- endif %}
{%- if Country_Telugu != 'NaN' or Habitat_Telugu != 'NaN' or Breeding_region_Telugu != 'NaN' or Breeding_subregion_Telugu != 'NaN' or Life_Span_Telugu != 'NaN' or altitude_Telugu != 'NaN' %}
{{'\n'}}==జీవన విధానం=={{'\n'}}{{country_line}}{{realm_line}}{{region_line}}{{subreg_line}}{{lspan_line}}{{alt_line}}{{'\n'}}
{%- endif %}
{%- endmacro -%}
{%- macro references(Family_Telugu,Conservation_status_Telugu,Country_Telugu) -%}
{{'\n'}}==మూలాలు=={{'\n'}}<references />{{"\n"}}
[[వర్గం:తెవికీ పక్షులు]]
{%- if Family_Telugu != 'NaN' %}[[వర్గం:{{Family_Telugu}} కుటుంబంలో పక్షులు]]{%- endif %} 
{%- if Conservation_status_Telugu != 'NaN' %}[[వర్గం:{{Conservation_status_Telugu}} పక్షులు]]{%- endif %} 
{%- if Country_Telugu != 'NaN' %}[[వర్గం:{{Country_Telugu}}లో పక్షులు]]{%- endif %} 
{%- endmacro -%}


{# Start of Main Page #}

{{- info(Bird_Original_Name,Bird_Original_Name_Telugu,Conservation_status_code,Page_Id,image,Order_Telugu,Genus_Telugu,Species_Telugu,Scientist_Telugu,Synonymous_Name_Telugu) }}
{{'\n'}}
{{- intro(Bird_Original_Name_Telugu, Bird_Original_Name, Scientific_Name_Telugu, Scientific_Name, Synonymous_Name, Synonymous_Name_Telugu,Old_latin_name_for_bird_Telugu,Old_latin_name_for_bird, Conservation_status_Telugu, Family_Telugu,Kingdom_Telugu, Subkingdom_Telugu, Infrakingdom_Telugu, Phylum_Telugu, Subphylum_Telugu, Infraphylum_Telugu, Superclass_Telugu, Class_Telugu, Order_Telugu,IUCN_link) }}
{{- gurthimpu(Bird_Original_Name_Telugu,Scientist_Telugu,founded) }}
{{- laksh(Bird_Original_Name_Telugu,auditory_system_Telugu,hearing_range_Telugu,hearing_threshold_Telugu,Eol_Link,Ebird_Description_Telugu,body_mass_Telugu,mineralized_skeleton_contains_Telugu) }}
{{- jv(Bird_Original_Name_Telugu,Habitat_Telugu,Breeding_region_Telugu,Breeding_subregion_Telugu,Life_Span_Telugu,altitude_Telugu,Dibird_Link,Country_Telugu,Ebird_Link) }}
{{- references(Family_Telugu,Conservation_status_Telugu,Country_Telugu)}}
{{'\n'}}
{{'{{Taxonbar|from='}}{{Wikidata_Id}}{{'}}'}}
